.input-container {
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    font-size: 16px;
}

.course-selection-container {
    display: inline-flex;
    flex-direction: column;
    align-content: left;
    align-items: left;
    padding: 40px;
}

.instructor-selection-container {
    display: inline;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto; 
    height: 200px; 
    min-width: 70%;
}

.instructor-selection-container > ul {
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.grade-dists-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 300px;
    padding: 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent cards from wrapping to a new row */
    align-content: center;
}


.professor-card {
    width: 200px; /* Set a fixed width for each card */
    height: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    align-items: center;
    align-content: center;
}


.dashboard-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 10px;
}