.input-container {
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;
}

select {
    width: 150%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    font-size: 16px;
}

.course-selection-container {
    display: inline-flex;
    flex-direction: column;
    align-content: left;
    align-items: left;
    min-width: 100px;
    padding-right: 100px;
}

.instructor-selection-container {
    display: inline;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto; 
    height: 200px; 
    width: 100%;
}

.instructor-selection-container > ul {
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.grade-dists-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 300px;
    padding: 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden;
    white-space: nowrap; /* Prevent cards from wrapping to a new row */
    align-content: left;
}

.grade-dists-container p {
  align-self: left;
}

.card-display-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 300px;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden;
  white-space: nowrap; /* Prevent cards from wrapping to a new row */
  align-content: left;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}

.detailed-grade-container {
  justify-content: center;
}

.professor-card {
    width: 200px; /* Set a fixed width for each card */
    min-width: 150px;
    height: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    align-items: center;
    align-content: center;
}


.dashboard-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.top-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .left-panel, .right-panel {
    flex: 1;
    padding: 20px;
  }
  
  .right-panel {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }

  
  .professor-name {
    font-weight: bold;
  }
  
  /* Navigation Buttons Styles */
  .nav-buttons {
    margin-top: 20px;
  }
  
  .question-container {
    display: flex;
    flex-direction: row;
    width: 98%;
    margin-top: 20px;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #question-text {
    margin-top: -10px;
    font-size: 18px;
  }
  
  .custom-button:hover {
    background-color: #003791;
  }

  .custom-button {
    background-color:#335996;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    margin-right: 5px;
  }

  .eval-container {
    align-self: left;
    width: 100%;
    min-height: 400px;
  }

  .question-navigation {
    display: flex;
    flex-direction: row;

    justify-content: left;
    margin-top: 20px;
  }

h1 {
    padding-bottom: -5px;
    font-size: xx-large;
}

h3 {
    font-size: large;
    font-weight: lighter;
    font-style: italic;
    padding-right: 5px;
}

.best-prof-chart-container {
    z-index: 100;
    width: 30vw; /* Adjust the width as needed */
    display: flex;
    flex-direction: row;
    padding: 40px;
    padding-right: 30%;
}

.worst-prof-container {
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-self: flex-end; 
    margin-bottom: 10px; 
    padding-left: 30%;
}

.small-text{
    min-width: 30%;
    padding: 20px;
    font-size: large;
}

/* adds a subtle green outline to the highest GPA card */
.highest-gpa-card {
  outline: 2px solid #05f40da0; 
}

/* styles for loading spinner in instructor select */ 
.loading-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #57b4cb;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #6093d7 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

